---
import Container from "../shared/Container.astro";
import Spots from "../shared/Spots.astro";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div
      class="mx-auto lg:mx-0 p-5 sm:p-6 py-6 sm:py-8 max-w-5xl rounded-3xl bg-box-bg hover:bg-slate-200 dark:hover:bg-slate-800 border border-box-border shadow-lg shadow-box-shadow md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
    >
      <!-- Magic 102.5 -->
      <div class="flex flex-col items-center text-center">
        <img class="h-24 w-auto object-contain pl-4" 
             src="https://media-cdn.socastsrm.com/wordpress/wp-content/blogs.dir/3759/files/2024/12/ktcx-fm.png" 
             alt="Magic 102.5 radio station logo with purple and gold text and tagline The Golden Triangle’s Big Station, Southeast Texas">
        <p class="mt-2 text-heading-3">Magic 102.5</p>
      </div>

      <!-- Q94.1 -->
      <div class="flex flex-col items-center text-center pl-10">
        <img class="h-24 w-auto object-contain " 
             src="https://media-cdn.socastsrm.com/wordpress/wp-content/blogs.dir/3759/files/2024/12/kqxy-fm.png" 
             alt="Q94 radio station logo with bold yellow and pink text on a teal and black oval background, featuring the slogan Today’s Best Music in Southeast Texas.">
        <p class="mt-2 text-heading-3">Q94.1 Top Hit</p>
      </div>

      <!-- KAYD 101.7 -->
      <div class="flex flex-col items-center text-center pl-10">
        <img class="h-24 w-auto object-contain" 
             src="https://media-cdn.socastsrm.com/wordpress/wp-content/blogs.dir/3759/files/2024/12/kayd-fm.png" 
             alt="KAYD 101.7 Texas Country radio station logo with red, white, and blue Texas flag design and slogan The 90s to Now, serving Southeast Texas">
        <p class="mt-2 text-heading-3">KAYD 101.7 Texas Country</p>
      </div>

      <!-- Cumulus Digital -->
      <div class="flex flex-col items-center text-center pl-10">
        <img class="h-24 w-auto object-contain" 
             src="https://www.cumulusdigital.com/wp-content/uploads/2025/04/CumulusDIgital-COLOR-Horizontal.png" 
             alt="Cumulus Digital logo featuring a bold blue circular icon and black modern text, representing digital advertising and marketing solutions in Southeast Texas.">
        <p class="mt-2 text-heading-3">Cumulus Digital</p>
      </div>
    </div>
  </Container>
</section>
